template(name="dataTable")
  .table-responsive
    table.table.table-striped
      thead
        tr
          th #
          th Header
          th Header
          th Header
          th Header
      tbody
        each data
          tr
            td #{data1}
            td #{data2}
            td #{data3}
            td #{data4}
            td #{data5}
