template(name="dataTable")
  .table-responsive
    table.table.table-striped
      thead
        tr
          th Top
          th Category
          th Valid Purchases
          th Revenues
          th Revenues in % of Total
      tbody
        each data
          tr
            td #{top}
            td #{categroy}
            td #{valid_purchasen}
            td #{revenues}
            td #{100*revenues/total}
