template(name='filters')
  ul.list-group
    each filters
      li.list-group-item
        h4 #{label}
        .btn-group(data-toggle='buttons')
          each filterValues
            if defaultActive
              label.btn.btn-primary.active
                input(type='radio', name='#{../name}', value=value)
                | #{name}
            else
              label.btn.btn-primary
                input(type='radio', name='#{../name}', value=value)
                | #{name}

template(name='charts')
  .row.placeholders
    .col-xs-6.col-sm-3.placeholder
      img.img-responsive(data-src='holder.js/200x200/auto/sky', alt='Generic placeholder thumbnail')
      h4 Label
      span.text-muted Something else
    .col-xs-6.col-sm-3.placeholder
      img.img-responsive(data-src='holder.js/200x200/auto/vine', alt='Generic placeholder thumbnail')
      h4 Label
      span.text-muted Something else
    .col-xs-6.col-sm-3.placeholder
      img.img-responsive(data-src='holder.js/200x200/auto/sky', alt='Generic placeholder thumbnail')
      h4 Label
      span.text-muted Something else
    .col-xs-6.col-sm-3.placeholder
      img.img-responsive(data-src='holder.js/200x200/auto/vine', alt='Generic placeholder thumbnail')
      h4 Label
      span.text-muted Something else
