template(name="skus")
  h2.sub-header SKUs overview for the last #{filterDateRange} weeks

  .table-responsive
    table.table.table-striped
      thead
        tr
          th Top
          th SKU
          th Valid Purchases
          th Revenues
          th Revenues in % of Total
      tbody
        each data
          tr
            a(href="{{ pathFor route='skus.show' }}")
              td #{top}
            td #{name}
            td #{validPurchases}
            td #{revenues}
            td {{revenuesPerTotal revenues}}
