template(name="subCategories")
  h2.sub-header Sub-Categories overview for the last #{filterDateRange} weeks

  .table-responsive
    table.table.table-striped
      thead
        tr
          th Top
          th Category
          th Valid Purchases
          th Revenues
          th Revenues in % of Total
      tbody
        each data
          tr
            td #{top}
            td
              a(href="{{ pathFor route='skus.show' }}") #{name}
            td #{validPurchases}
            td #{revenues}
            td {{revenuesPerTotal revenues}}
